label, select, button, input, div, h5{

    font-family: 'Ubuntu Condensed', sans-serif!important;
}
body{
    background-color: #f5f5f5;!important;
    min-height: 2000px;
    padding-top: 70px;
    margin-top: 25px;
}
h1{
    font-family: 'Luckiest Guy', cursive!important;
    color: #ff9800!important;
    font-size: 35px!important;
}
.cajaLogin{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    filter: drop-shadow(5px 5px 10px #444)
}


a{
    text-decoration:none !important;
}
.bit{
    text-decoration: none!important;
    color: blue!important;
}
.link{
    text-decoration: none!important;
    color: #0077B5!important;
}
.facebook{
    text-decoration: none!important;
    color: #4267b2!important;
}
.principal
{
    background-image: url("http://cbautistaweb.es/cv/media/background/ali.jpg");
    margin-top: 15px;
    height: 475px;
}
.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background: url('http://cbautistaweb.es/cv/media/background/icon_top.png') no-repeat;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .scrollup{
        left: 280px;
        right: 0;
    }
    .compl{
        font-size: 10px!important;
    }
    .principal{
        margin-top: 15px; height: 450px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media all and (max-width: 768px) and (min-width: 992px){
    .principal{
        margin-top: 15px; height: 450px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .principal{
        margin-top: 15px; height: 615px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .principal{
        margin-top: 15px; height: 615px;
    }
}
